@{
    Layout = null;
}

@model List<WebApplication.Models.News>

<!DOCTYPE html>

<html>
<head>
    <title>Новости</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body style="margin: 20px;background: dimgrey">

    <style>
        .row {
            margin: 0px;
        }
    </style>

    <div class="row placeholders">
        <div class="col-md-8">

            @foreach (var post in Model)
            {
                <div class="col-xs-6 col-sm-6 col-md-6 placeholder" style="overflow: hidden; padding: 5px">
                    <div style="background: peachpuff; border-radius: 15px; padding: 5px;">
                        <img class="img-responsive" alt="200x200" src=@post.photo>

                        <br>
                        @post.text
                        <div class="row">
                            <div class="col-md-3">Комментарии - @post.comments</div>
                            <div class="col-md-3">Репосты - @post.reposts</div>
                            <div class="col-md-3">Лайки - @post.likes</div>
                            <div class="col-md-3">Шеры - @post.shares</div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col-md-4">
            <h1>Выберите сортировку</h1>

            <h4>@Html.ActionLink("По лайкам", "Sort", new { typeSort = "likes", id = ViewBag.id })</h4>
            <h4>@Html.ActionLink("По репостам", "Sort", new { typeSort = "reposts", id = ViewBag.id })</h4>
            <h4>@Html.ActionLink("По комментариям", "Sort", new { typeSort = "comments", id = ViewBag.id })</h4>
            <h4>@Html.ActionLink("По шерам", "Sort", new { typeSort = "shares", id = ViewBag.id })</h4>
        </div>

    </div>
</body>
</html>
