@{
    Layout = null;
}

@model List<WebApplication.Models.News>

<!DOCTYPE html>

<html>
<head>
    <title>Новости</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body style="margin: 20px;background: #edeef0">

    <style>
        .row {
            margin: 0px;
        }
    </style>

    <div class="row placeholders">
        <div class="col-md-10">
            <h1 style="color: #2a5885; text-align: center">@ViewBag.Message</h1>

            @foreach (var post in Model)
            {
                <div class="col-xs-4 col-sm-4 col-md-6 placeholder" style="overflow: hidden; padding: 5px">
                    <div style="background: white; border-radius: 2px; padding: 5px; box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;">
                        
                        <h5>@post.text</h5>
                        
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    @foreach (var attach in @post.attachments)
                                    {
                                        <div class="col-md-4"><img class="img-responsive" alt="200x200" src=@attach.photo></div>
                                        @attach.text
                                    }
                                </div>
                            </div>
                        <div class="col-md-4">
                            <div>Комментарии - @post.comments</div>
                            <div>Репосты - @post.reposts</div>
                            <div>Лайки - @post.likes</div>
                            <div>Шеры - @post.shares</div>
                        </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col-md-2">
            <h1 style="color: #2a5885; " >Выберите сортировку</h1>

            <h4>@Html.ActionLink("По лайкам", "GetUserNews", new { typeSort = "likes", userId = ViewBag.id })</h4>
            <h4>@Html.ActionLink("По репостам", "GetUserNews", new { typeSort = "reposts", userId = ViewBag.id })</h4>
            <h4>@Html.ActionLink("По комментариям", "GetUserNews", new { typeSort = "comments", userId = ViewBag.id })</h4>
            <h4>@Html.ActionLink("По шерам", "GetUserNews", new { typeSort = "shares", userId = ViewBag.id })</h4>

            <br />
            <h4>@Html.ActionLink("Нормализация", "GetUserNews", new { typeSort = "normalization", userId = ViewBag.id })</h4>
            
        </div>

    </div>
</body>
</html>
